<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>

    	<div th:fragment="principal" class="container">
            <div id="baseado">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Novidades</h2>
                            <p>Actividade em realizacao ou ja realizados recentemente.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="baseado animate-box">
                                <a><img class="img-responsive" src="images/project-4.jpg" alt=""></a>
                                <div class="blog-text">
                                    <h3><a href=""#>Inscrição 2025</a></h3>
                                    <span class="posted_on">Postado: 12 de Setembro de 2024</span>
                                    <p>Preencha sua inscrição interagindo com um terminal holográfico tridimensional, guiado por um assistente virtual.</p>
                                </div> 
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="baseado animate-box">
                                <a><img class="img-responsive" src="images/project-2.jpg" alt=""></a>
                                <div class="blog-text">
                                    <h3><a href=""#>Visita de estudo no hospital provincial de Chimoio</a></h3>
                                    <span class="posted_on">Postado: 12 de Setembro de 2024</span>
                                    <p>A visita foi uma experiência enriquecedora, contribuindo significativamente para a formação dos nossos estudantes.</p>
                                </div> 
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="baseado animate-box">
                                <a><img class="img-responsive" src="images/project-3.jpg" alt=""></a>
                                <div class="blog-text">
                                    <h3><a href=""#>Visita de estudo no hospital provincial de Chimoio</a></h3>
                                    <span class="posted_on">Postado: 12 de Setembro de 2024</span>
                                    <p>A visita foi uma experiência enriquecedora, contribuindo significativamente para a formação dos nossos estudantes.</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:fragment="sobre-nos" class="container">
            <div id="baseado">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Missao</h2>
                            <p>Promover através do ensino presencial e semi-presencial, a expansão da oferta de programas de educação e formação profissional que atendam, com equidade e qualidade, as necessidades do desenvolvimento socioeconómico, político e cultural do País e dos cidadãos.</p>
                        </div>
                    </div>
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Visao</h2>
                            <p>Ser uma Instituição de Educação Profissional inclusiva, de referência nacional e internacional, que garante aos cidadãos o acesso à educação e formação profissional para e ao longo da vida com qualidade, equidade, igualdade, eficiência e eficácia.</p>
                        </div>
                    </div>
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Valores</h2>
                            <p>....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:fragment="cursos" class="container">
            <div id="baseado">
                <div class="container-fluid">
                    <div class="row">
                        <div class="features">
                            <div class="col-md-12 animate-box">
                                <h4>Temos com os melhores instrutores, experientes a mais de 10 anos</h4>
                                <p>Comece uma careira.  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid proj-bottom">

                    <div class="row">
                        <div class="fh5co-blog animate-box" data-animate-effect="fadeIn">
                            <h3 class="blog-text text-uppercase"><b>Ciencias de saude</b></h3>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a><img src="images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                                <h3>TMG</h3>
                                <span>Tecnico de Medicina Geral</span>
                            </a>
                            <div class="text-right">
                                <a href="curso?id=tmg#tmg" class="btn btn-info  text-right">Ler mais...</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a><img src="images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                                <h3>ESMI</h3>
                                <span>Enfermagem em Saude Materno Infantil</span>
                            </a>
                            <div class="text-right">
                                <a href="curso?id=esmi#esmi" class="btn btn-info text-right">Ler mais...</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-project  animate-box" data-animate-effect="fadeIn">
                            <a><img src="images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                                <h3>EG</h3>
                                <span>Enfermagem geral</span>
                            </a>
                            <div class="text-right">
                                <a href="curso?id=eg#eg" class="btn btn-info text-right">Ler mais...</a>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="fh5co-blog animate-box" data-animate-effect="fadeIn">
                            <h3 class="blog-text text-uppercase"><b>Agicultura e conservacao da natureza</b></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a><img src="images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                                <h3>AP</h3>
                                <span>Agro-pecuaria</span>
                            </a>
                            <div class="text-right">
                                <a href="curso?id=ap#ap" class=" btn btn-info text-right">Ler mais...</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="fh5co-blog animate-box" data-animate-effect="fadeIn">
                            <h3 class="blog-text text-uppercase"><b>Administracao e gestao</b></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a><img src="images/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                                <h3>G</h3>
                                <span>Gestao</span>
                            </a>
                            <div class="text-right">
                                <a href="curso?id=g#g" class="btn btn-info text-right">Ler mais...</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

        <div th:fragment="secretariaOnline" class="container">
            
        </div>

        <div th:fragment="inscricao" class="container mt-2">
            <div id="baseado">
                <div class="container-fluid p-2">
                    <form th:action="@{inscrever}" th:method="POST" th:object="${inscricao}">
                            
                        <div class="row">
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Nome</label>
                                    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" th:field="*{nome}">
                                    <div class="form-text text-danger">
                                      <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Campo obrigatório</span>
                                    </div>
                            </div>
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Apelido</label>
                                    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"  th:field="*{apelido}">
                                    <div class="form-text text-danger">
                                      <span th:if="${#fields.hasErrors('apelido')}" th:errors="*{apelido}">Campo obrigatório</span>
                                    </div>
                            </div>
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Genero</label>
                                <select class="form-control" aria-describedby="passwordHelpBlock"  th:field="*{genero}">
                                    <option value="">Selecione</option>
                                    <option value="F">Feminino</option>
                                    <option value="M">Masculino</option>
                                </select>
                                <ss>
                            </div>
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Morada</label>
                                <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"  th:field="*{morada}">
                                <div class="form-text text-danger">
                                  <span th:if="${#fields.hasErrors('morada')}" th:errors="*{morada}">Campo obrigatório</span>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" id="inputPassword5" class="btn-cta" aria-describedby="passwordHelpBlock" value="Submeter">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:fragment="login" class="container mt-2">
            <div id="baseado">
                <div class="container-fluid p-2">
                    <form th:action="@{login}" th:method="POST">
                            
                        <div class="row">
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Usuario</label>
                                    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                    <div id="passwordHelpBlock" class="form-text">
                                        
                                    </div>
                            </div>
                            <div class="col-md-4 animate-box">
                                <label for="inputPassword5" class="form-label fw-bold">Senha</label>
                                    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                    <div id="passwordHelpBlock" class="form-text">
                                        
                                    </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" id="inputPassword5" class="btn-cta" aria-describedby="passwordHelpBlock" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>